<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  <title>Table of Books</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media=”screen” />
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!--https://getbootstrap.com/docs/5.1/content/tables/-->
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="index.html">The Corn Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="randomuser.html">A Random User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="tableofbooks.html">Books Table</a>
        </li>
      </ul>

      <table class="table" id="booksTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Year Published</th>
            <th scope="col">Publisher</th>
            <th scope="col">Page Count</th>
            <th scope="col">MSRP</th>
          </tr>
        </thead>
        <tr v-for= "book in books">
          <td>{{ books.title }}</td>
          <td>{{ books.authors }}</td>
          <td>{{ books.yearPublished }}</td>
          <td>{{ books.publisher }}</td>
          <td>{{ books.pageCount }}</td>
          <td>{{ prettyMSRP(book.msrp) }}</td>
          <td><button type="button" v-on:click="postDeleteBook(book)">Delete Book</button></td>
          <td><button type="button" v-on:click="postEditBook(book)">Edit Book</button></td>
        </tr>
          <!--https://getbootstrap.com/docs/5.1/forms/input-group/-->
          <h3>Add a New Book!</h3>
          <form>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
          </div>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">Authors</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="Authors(s)" aria-label="Authors(s)" aria-describedby="basic-addon1">
          </div>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">Year Published</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="Year Published" aria-label="Year Published" aria-describedby="basic-addon1">
          </div>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">Publisher</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="Publisher" aria-label="Publisher" aria-describedby="basic-addon1">
          </div>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">Page Count</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="Page Count" aria-label="Page Count" aria-describedby="basic-addon1">
          </div>
          <div class="input-group newbook">
            <span class="input-group-text" id="basic-addon1">MSRP</span>
            <input type="text" v-model="booksForm.bookTitle" class="form-control" placeholder="MSRP" aria-label="MSRP" aria-describedby="basic-addon1">
          </div>
          <!--https://getbootstrap.com/docs/5.1/components/buttons/-->
          <button type="button" class="input-group newbook">Submit Book</button>
        </form>
        </tbody>
      </table>
      <script src="js/tablesort.min.js"></script>
      <script src="js/book.js"></script>
      <script>
        new Tablesort(document.getElementById('booksTable'));
      </script>
</body>
</html>